body {
	background-color: #A68591;
}

p{
	margin-left: 20px;
	margin-right: 30px;
}
#WrapperDiv {
	height: 935px;
	width: 820px;
	position: relative;
	margin: auto;
	margin-top: 30px;
	background-color: #8D6D78;
	border: solid #9A818A 5px;
	box-shadow: 3px 3px 3px #443C3F;
}

#headerDiv {
	height: 100px;
	width:820px;
	position:floating;
	float: left;
	background-color: #AB989F;
}

#navDiv {
	color: white;
	height: 790px;
	width: 120px;
	position: floating;
	float: left;
	background-color: #CCB9BF;
}

#bodyDiv {
	height: 790px;
	width: 700px;
	position: floating;
	float: right;
	background-color: #B9AEB2;
}

#footerDiv {
	height: 45px;
	width: 820px;
	position: float;
	float: left;
	background-color:#AB989F;
}

.buttDiv {
	margin-left: 10px;
	margin-top: 10px;
}

a{
	color: #8D6D78;
	text-decoration: none;
}

li{
	margin-top: 10px;
}

p{
	color:#F2EAED;
}
